*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/caches/
/daemon/
/native/
/notifications/
/node_modules/
/reports/
/captures
.externalNativeBuild
.cxx
local.properties
*.hprof
/androidx
